name: Build RuLocker

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build-locker:
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v4

    - name: Setup MSVC Developer Command Prompt
      uses: ilammy/msvc-dev-cmd@v1

    - name: Build EXE
      shell: cmd
      # Добавлен флаг /utf-8 для корректной компиляции русских строк
      run: |
        cl /EHsc /utf-8 main.cpp /link user32.lib gdi32.lib comctl32.lib advapi32.lib gdiplus.lib /OUT:RuLocker.exe
        if %errorlevel% neq 0 exit /b %errorlevel%

    - name: Upload Artifact
      uses: actions/upload-artifact@v4
      with:
        name: RuLocker
        path: RuLocker.exe
        retention-days: 30
